@{
    ViewBag.Title = "Поиск клиента по городу";
}
<body onload="onLoad()">

    @Html.DropDownList("IdCity", null, htmlAttributes: new { @class = "form-control col-md-2" })

    <div id="results"></div>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#IdCity').change(function () {
            var e = document.getElementById("IdCity");
            var val = e.options[e.selectedIndex].value;
            $('#results').load('@Url.Action("ShowResidentsForCityFun", "Home")?idNum=' + val);
        });
    });
    </script>

 </body>

<script type="text/javascript">
    function onLoad() {
        var e = document.getElementById("IdCity");
        var val = e.options[e.selectedIndex].value;
        $('#results').load('@Url.Action("ShowResidentsForCityFun", "Home")?idNum=' + val);
    }

</script>
